
@{
    ViewData["Title"] = "Start Order";
}


<h1>Customer Phone Number</h1>
<p></p>
<p></p>
<div class="row align-items-center my-5">
    <div class="col-lg-7">
       

        <form asp-controller="Orders" asp-action="FindCustomer" method="post">
            <label for="PhoneNumber">Enter a phone number:</label><br><br>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" placeholder="9545551234" /><br><br>
            <small>Format: 9545551234</small><br><br>
            <input type="submit" value="Search Phone Number">
        </form>
    </div>
</div>